:root {
}

body {
  height: 100vh;
  background-color: aquamarine;
}

#grid-container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12fr);
  grid-auto-rows: auto 1fr auto;
}

#header {
  grid-column: 1 / span 12;
}

#flex-container {
  grid-column: 1 / span 12;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameboard {
  width: 500px;
  height: 500px;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
