@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

body {
  --main-color: rgb(255, 247, 236);
  --secondary-color: #1a1a1a;
  --text-color: black;
  --score-text: 1.5rem;
  --logo-text: 2rem;
  --logo-symbol: 35px;
  --footer-logo: 50px;
  --theme-switch-icon: 30px;
  --switch-icon-color: invert(47%) sepia(48%) saturate(6944%) hue-rotate(192deg)
    brightness(102%) contrast(108%);
  --icon-color: invert(0%) sepia(18%) saturate(2785%) hue-rotate(133deg)
    brightness(83%) contrast(80%);
  --symbol-on-board: 85px;
  --symbol-on-score: 30px;
  --x-color: #06ff45da;
  --x-filter: invert(76%) sepia(97%) saturate(1356%) hue-rotate(69deg)
    brightness(93%) contrast(124%);
  --o-color: #ff00c8;
  --o-filter: invert(40%) sepia(97%) saturate(6998%) hue-rotate(307deg)
    brightness(108%) contrast(126%);
  --score-border: 1px solid black;
  --click: brightness(80%);

  height: 100vh;
  background-color: var(--main-color);
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
}
.night {
  --main-color: hsl(0, 0%, 10%);
  --secondary-color: #fff7ec;
  --text-color: white;
  --switch-icon-color: invert(91%) sepia(76%) saturate(605%) hue-rotate(338deg)
    brightness(105%) contrast(98%);
  --icon-color: invert(87%) sepia(4%) saturate(1608%) hue-rotate(321deg)
    brightness(115%) contrast(101%);
  --score-border: 1px solid rgb(255, 247, 236);
}

#grid-container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto 1fr auto;
  gap: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
}

#header {
  grid-column: 1 / span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
#logo {
  font-size: var(--logo-text);
  font-weight: 600;
  grid-column: 1 / span 4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-symbol {
  width: var(--logo-symbol);
}
#theme-switch {
  grid-column: 8 / span 4;
  display: flex;
  justify-content: center;
  align-items: center;
}
#theme-switch-icon {
  width: var(--theme-switch-icon);
  filter: var(--icon-color);
}
#theme-switch-icon:hover {
  filter: var(--switch-icon-color);
}

#grid-container > div:nth-child(2) {
  grid-column: 1 / span 12;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
#score-displayer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}
#buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.buttons {
  background-color: var(--main-color);
  color: var(--text-color);
  border: var(--score-border);
  border-radius: 10px;
}
.buttons:active {
  filter: var(--click);
}
.scores {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  gap: 60px;
  font-size: var(--score-text);
}
#flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#gameboard {
  width: 500px;
  height: 500px;
  background-color: var(--secondary-color);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}
.square {
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.x-symbol {
  filter: var(--x-filter);
}
.o-symbol {
  filter: var(--o-filter);
}
.symbol-on-board {
  width: var(--symbol-on-board);
}
.symbol-on-score {
  width: var(--symbol-on-score);
}

#footer {
  grid-column: 1 / span 12;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: lighter;
}
#footer > a {
  display: flex;
  justify-self: center;
  align-items: center;
}
#footer-logo {
  width: var(--footer-logo);
  filter: var(--icon-color);
}
