:root {
  --main-color: rgb(255, 247, 236);
  --symbol-on-board: 85px;
  --symbol-on-score: 20px;
}

body {
  height: 100vh;
  background-color: var(--main-color);
}

#grid-container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12fr);
  grid-auto-rows: auto 1fr auto;
}

#header {
  grid-column: 1 / span 12;
}

#grid-container > div:nth-child(2) {
  grid-column: 1 / span 12;
}

#flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameboard {
  width: 500px;
  height: 500px;
  background-color: hsl(0, 0%, 10%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.square {
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.symbol-on-board {
  width: var(--symbol-on-board);
}
.symbol-on-score {
  width: var(--symbol-on-score);
}
